.btn {
  border: none;
  background-color: var(--accent);
  padding: 1rem 1.3rem;
  border-radius: 4px;
  align-self: flex-end;
}

.btn:hover {
  box-shadow: 0px 12px 16px 0 var(--btn-shadow);
  transform: scale(1);
}
