.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.kanban {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  padding: 0 1rem;
}

@media (max-width: 1200px) {
  .kanban {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    justify-content: center;
    max-width: 80rem;
  }
}

@media (max-width: 1024px) {
  .kanban {
    gap: 1rem;
    padding: 0 0.5rem;
  }
}

@media (max-width: 604px) {
  .wrapper {
    padding: 1rem;
  }

  .kanban {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
