.footer {
  text-align: center;
  padding: 1rem 2rem;
  margin-top: 1rem;
  background-color: var(--primary);
  color: var(--text);
  border-top: 1px solid var(--text);
  font-size: 1.5rem;
  width: 100%;
}
